# Raw Data
Tunnel-Trial-Data/

# Rstudio files
*.Rproj
.Rproj.user
.Rproj.user/ 
.Rhistory
.RData
.Ruserdata
.rstudio
.rstudio/
.local
.local/
.config
.config/
.bash_history

# Files
*.odg
*.pdf
*.png
Results/*
*hashID.R
Scripts/R-Scripts/xx_hashID.R
Data/data-with-contrast.csv
Data/Raw-Data/reflectance-spec-notes.txt
temp_specs/*